version: '3'
services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - my_network

  web:
    image: bsb99/living-by-myself-server:latest
    environment:
      - APPLICATION_INFO=${APPLICATION_INFO}
    ports:
      - "8080:8080"
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - my_network

networks:
  my_network:
