name: Java CI with Gradle

on:
  push:
    branches:
      - feature/etc
  pull_request:
    branches:
      - feature/etc

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Make application.yml
        run: |
          # Delete existing application.properties if it exists
          rm -f ./src/main/resources/application.properties

          # Create application.yml
          mkdir -p ./src/main/resources
          touch ./src/main/resources/application.properties
          
          # Write secrets.APPLICATION_INFO to application.yml
          echo "application.info=${{ secrets.APPLICATION_INFO }}" >> ./src/main/resources/application.properties
        shell: bash

      - name: Build with Gradle
        run: ./gradlew bootJar

      - name: Web Docker Build and Push
        run: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
          
          # Remove the image if it exists
          docker image rm -f ${{ secrets.DOCKER_REPO }} || true
          
          docker build -t ${{ secrets.DOCKER_REPO }} .
          docker push ${{ secrets.DOCKER_REPO }}

      - name: Add EC2 Host Key
        run: |
          mkdir -p ~/.ssh
          touch ~/.ssh/known_hosts
          ssh-keyscan -t rsa ${{ secrets.HOST }} >> ~/.ssh/known_hosts

      - name: Copy Docker Compose to EC2
        run: |
          echo "${{ secrets.KEY }}" > key.pem
          chmod 600 key.pem
          scp -i key.pem ./docker-compose.yml ${{ secrets.EC2_USERNAME }}@${{ secrets.HOST }}:~/docker-compose.yml

      - name: Execute Docker Compose on EC2
        run: |
          ssh -i key.pem ${{ secrets.EC2_USERNAME }}@${{ secrets.HOST }} "docker-compose -f ~/docker-compose.yml up -d"