name: Java CI with Gradle

on:
  push:
    branches:
      - feature/etc
  pull_request:
    branches:
      - feature/etc

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Make application.yml
        run: |
          # Delete existing application.properties if it exists
          rm -f ./src/main/resources/application.properties

          # Create application.yml
          mkdir -p ./src/main/resources
          touch ./src/main/resources/application.properties
          
          # Secrets에 저장한 값을 application.yml 파일에 쓰기
          echo "${{ secrets.APPLICATION_INFO }}" >> ./src/main/resources/application.properties
        shell: bash

      - name: Build with Gradle
        run: ./gradlew bootJar

      ## 도커 이미지 빌드 후 도커허브에 push하기
      - name: Web Docker Build and Push
        run: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
          
          # 이미지가 존재하면 삭제
          docker image rm -f ${{ secrets.DOCKER_REPO }} || true
          
          docker build -t ${{ secrets.DOCKER_REPO }} .
          docker push ${{ secrets.DOCKER_REPO }}

      ## 서버에 접속하여 도커 이미지를 pull 받고 실행하기
      - name: Executing Remote SSH Commands using Password
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            # SSH로 접속 후 Docker Compose 파일 복사
            scp -i ${{ secrets.KEY }} docker-compose.yml ${{ secrets.EC2_USERNAME }}@${{ secrets.HOST }}:/

            # Docker Compose로 실행
            ssh -i ${{ secrets.KEY }} ${{ secrets.EC2_USERNAME }}@${{ secrets.HOST }} "docker-compose up -d"